body{
  font-family: Verdana, Arial, sans-serif;
  background: linear-gradient(to bottom, #FFFFFF, #90C7E3);
  background-repeat: no-repeat;
  background-color: #90C7E3; 
}

#wrapper {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
  min-width: 960px;
  max-width: 2048px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#homehero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


#homehero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title{
  color: mediumblue;
  font-weight: 1.2em;
}

footer{
  font-style: Italic;
  font-size: 10px;
  padding: 1em;
  text-align: center;
  line-height: 0;
}

h1{
  text-align: center;
  padding-top: .5em;
  margin-bottom: 0em;
}

nav{
  font-weight: bold;
  text-align: center;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

nav a { 
  text-decoration: none;
}

h2{
  color: mediumblue;
  font-family: Georgia, serif;
  margin: 0;
}

h3{
  font-family: georgia, serif;
}

